<form [formGroup]="characterForm" (ngSubmit)="submitCharacterForm()">
  <label for="characterId">Character Id</label>
  <input name="characterId" formControlName="characterId" />
  <button type="submit">Submit</button>
</form>

<div class="character">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Culture</th>
        <th>Titles</th>
        <th>Allegiances</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of characters">
        <td>{{character.name}}</td>
        <td>{{character.gender}}</td>
        <td>{{character.culture}}</td>
        <td>
          <ul>
            <li *ngFor="let title of character.titles">{{title}}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let allegiance of character.allegiances">{{ allegiance}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>